#sec_2nd{
    margin-top: calc(30px + 3vw);
}

#sec_2nd .row_1st{
    display: flex;
    justify-content: space-between;
}

#sec_2nd .row_1st .left{
    /* background: aqua; */
    width: 68%;

}

.row_1st .left .slick_wraper{
    position: relative;
}




.row_1st .left .img_box{
    width: 100%;
}

.row_1st .left .img_box img{
    width: 100%;
}
.row_1st .left .arrowLeft{
    height: 50px;
    width: 30px;
    background: hsla(230, 41%, 14%, .5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 0;
    cursor: pointer;
}
.row_1st .left .arrowRight{
    height: 50px;
    width: 30px;
    background: hsla(230, 41%, 14%, .5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    right: 0;
    cursor: pointer;
}



/* for shadow & margin effect effect */
.CHAYA{
    box-shadow: 0px 0px 20px rgb(204, 203, 203);
}
.MARGIN{
    margin-top: calc(10px + 1vw);
}
/* for shadow effect end*/
 

/* last */
.left .slick_chield_2 .img_box{
    position: relative;
}
.left .slick_chield_2 .video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.slick_chield_2 .video .outer{
    width: 100px;
    height: 100px;
    background: hsla(230, 41%, 14%, .5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: video 1s linear infinite;
}

.slick_chield_2 .video .inner{
    width: 60px;
    height: 60px;
    background: white;
    color: #FF6F61;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

@keyframes video{
    0%{
        width: 60px;
        height: 60px;
    }
    100%{
        width: 100px;
        height: 100px;
    }
}

.left .slick_chield_2 .music{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}


.slick_chield_2 .img_box .top_left{
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.img_box .top_left button{
    height: 40px;
    width: 40px;
    border: 0;
    background: black;
    color: white;
    font-size: 20px;
    border-radius: 50%;
}
.img_box .top_left span{
    color: white;
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}


.slick_chield_2 .img_box .top_right{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 10px;
}

.img_box .top_right button{
    height: 40px;
    width: 40px;
    border: 0;
    background: black;
    color: white;
}

.img_box .top_right .share{
    width: auto;
    padding: 0 10px;
}
.img_box .btm_left{
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: black;
    color: white;
    font-size: 14px;
    padding: 0 5px;
    z-index: 2;
}
.img_box .btm_right{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: black;
    color: white;
    font-size: 14px;
    padding: 0 5px;
    z-index: 2;
}

.left .text_box{
    margin-top: calc(10px + 1vw);
}

.text_box .top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text_box .top p{
    margin-bottom: 5px;
}

.text_box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-align: justify;
}
.text_box .top p span{
    margin: 0 10px;
    cursor: pointer;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
}

.text_box .coma_txt_box{
    padding: 30px;
    background: hsla(200, 12%, 95%, 1);
    margin: 20px 0 30px 0;
    position: relative;
    border-left: 3px solid #FF6F61;
}
.text_box .coma_txt_box i{
    font-size: 14px;
    text-align: justify;
}
.text_box .coma_txt_box img{
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.text_box .pro_img{
    display: flex;
    margin: 2vw 0;
}
.pro_img .img_box{
    padding-right: 10px;
}
.pro_img .img_box img{
    width: 100%;
   
}
.pro_img .img_box:nth-child(2){
    padding-right: 0;
    padding-left: 10px;

}


.text_box .tag_box{
    display: flex;
    justify-content: space-between;

    padding: 30px 0;
    border-top: 2px solid #ececee;
    border-bottom: 2px solid #ececee;
}
.text_box h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
}

.text_box h4:nth-child(1) span{
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    background: #f0f1f1;
    padding: 5px;
}

.text_box h4:nth-child(2) span{
    padding: 0 10px;
}.text_box h4 span i{
    padding: 0 5px;
    font-size: 14px;
    color: #828282;
}
.text_box h4 span i:hover{
    color: #FF6F61;
}

.AetorStudio{
    margin: calc(20px + 2vw) 0;
    background: #f0f1f1;
    display: flex;
    align-items: center;
}
.AetorStudio .fev_wraper{
    margin-left: calc(10px + 1vw);
}
.AetorStudio .fev{
    height: 100px;
    width: 100px;
    background: #FF6F61;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.AetorStudio .fev img{
    height: 70%;
}
.AetorStudio .txt_box{
    padding: 20px;
}

.comment{
    margin-top: 15px;
}
.comment .box{
    display: flex;
}
.comment .box .fev{
    background: #FF6F61;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment .box .fev img{
    height: 70%;
}

.comment:hover .span{
    color: #FF6F61;
}

.comment .box .txtcom{
    width: 100%;
}



.text_box .leave{
    margin-top: calc(20px + 2vw);
    padding: 30px;
    box-shadow: 0px 0px 5px #dad9d9;
}

.text_box .leave .input{
    border: 0;
    background: #F1F3F4;
    height: 50px;
    width: 48.5%;
    padding: 0 10px;
}
.text_box .leave .input_2{
    margin-left: 20px;
}
.text_box .leave .Big_input{
    border: 0;
    background: #F1F3F4;
    height: 50px;
    margin-top: 20px;
    width: 100%;
    padding: 0 10px;
}

.text_box .leave .textarea{
    width: 100%;
    border: 0;
    background: #F1F3F4;
    padding: 10px;
    height: 50px;
    min-height: 250px;
    margin: 20px 0;
}
.text_box .leave a{
    color: white;
    padding: 15px;
    background: black;
    font-family: Josefin Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

/* left end */

/* right start */
#sec_2nd .row_1st .right{
    width: 29%;
}
#sec_2nd .right .top{
    display: flex;
    width: 100%;
    height: 60px;
    background: #F1F3F4;
}
#sec_2nd .right .top input{
    width: 85%;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 0 15px;
    border-right: 1px solid #A6AAB7;
    height: 60px;
}
#sec_2nd .right .top button{
    width: 15%;
    border: 0;
    font-size: 20px;
    background: #F1F3F4;
}

#sec_2nd .right h3{
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}
#sec_2nd .right h3 span{
   border-bottom: 2px solid #FF6F61;
   padding-bottom: 5px;
}

#sec_2nd .right .ul{
    padding-left: 0;
}
#sec_2nd .right .ul li{
    border-bottom: 1px solid #ececee;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}
#sec_2nd .right .ul li span{
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}


#sec_2nd .right .ul_2{
    padding-left: 0;
    margin-top: 40px;
}
#sec_2nd .right .ul_2 li{
    display: flex;

    align-items: center;
    margin-bottom: 10px;
}
#sec_2nd .right .ul_2 li .box{
    height: 80px;
    width: 80px;
    background: #A6AAB7;
    margin-right: 10px;
}

.right .ul_2 li .fox h6{
    font-family: Josefin Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    text-align: justify;
}
.right .ul_2 li .fox span{
    font-family: Josefin Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color:#444444;
}

.right .tag_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.right .tag_box a{
    color: black;
    background: #f0f1f1;
    padding: 5px;
    border-radius: 4px;
}


.right .sale_box{
    margin-top: 50px;
    background: #A6AAB7;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}


.right .sale_box h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    border-radius: 4px;
}
.right .sale_box span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
}



.row_1st .shadow{
    background: #10121a;
    position: fixed;
    width: 100%;
    height: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    display: none;
}

.row_1st .shadow .Main_box{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row_1st .shadow .Main_box p{
    text-align: center;
}
.row_1st .shadow .Main_box p{
    color: #fff;
    margin-bottom: 0;
}
.row_1st .shadow .Main_box p i{
    font-size: 20px;
}
.row_1st .shadow .Main_box p a{
    color: #fff;
    margin-bottom: 0;
}
.row_1st .shadow .Main_box p a i{
    font-size: 20px;
    color: #FF6F61;
}
.row_1st .shadow .Main_box p i{
    font-size: 20px;
    color: #FF6F61;
}
/* right end */