

@media (max-width: 1370px){

        /* 3rd section */
        .sec_3rd .row_3d .left_box img{
            width: 450px;
        
        }
        .sec_3rd .row_3d .right_box img{
            width: 640px;
        }
        /* 3rd section end */
}
@media (max-width: 1285px){
 
    /* 3rd section */
    .sec_3rd .row_3d .left_box img{
        width: 450px;
    
    }
    .sec_3rd .row_3d .right_box img{
        width: 640px;
    }
    /* 3rd section end */

    .slick_parent_6th{
        padding-top: 70px;
    }
    .slick_dot_6th{
        margin: 30px 0;
    }
    .slick_child_6th{
        padding: 20px;
    }
    .slick_child_6th img{
        width: 100%;
        
    }
    /* 6th end */
}
@media (max-width: 1200px){
    /* news */
    #newsLatterBody .box h2{
        margin-top: 50px;
    }
    /* news end */

    .collapse .navbar-nav li{
       margin: 0 10px;

       /* scale: 1.5; */
    } 

     /* 2nd sec strt */
 
     .test_child_slider .container{
        height: 600px;
    }
    .slick_dot{
        display: flex;
        position: absolute;
        left: 50%; transform: translateX(-50%);
        bottom: 15%;
        gap: 5px;
    }
    /* 2nd sec end */


    /* 3rd section */
    .sec_3rd .row_3d .left_box img{
        width: 32vw;
    
    }
    .sec_3rd .row_3d .right_box img{
        width: 47vw;
    }
    /* 3rd section end */




    /* >5th strt */
    .test_child_slider .container_2nd_slider{
        height: 480px;
    }
    .test_banner_2nd_slider .slick_dot{
        bottom: 7%;
    }
    /* >5th end */




    /* 5th sec strt */
    .section_5th{
        margin-bottom: 15vw;
    }
    .section_5th .row_5th .card_5th{
        max-width: 200px;
    }
    /* 5th sec end */

    .slick_parent_6th{
        padding-top: 70px;
    }
    .slick_dot_6th{
        margin: 30px 0;
    }
    .slick_child_6th{
        padding: 20px;
    }
    .slick_child_6th img{
        width: 100%;
        
    }
    /* 6th end */


    /* ====7th=== */
    .row_7th .left_box{
        width: 40vw;
    }
    #sec_7th .right_box{
        width: 45vw;
    }
    /* ====7th end=== */


   /* foot row top strt*/
   .row_Foot_top{
        flex-wrap: wrap;
    }
   .row_Foot_top .box{
        width: 270px;
        height: 100px;
    }



   .row_Foot_top .box:nth-child(3){
        border-right: none;
    }.row_Foot_top .box:nth-child(4){
        border-bottom: 3px solid rgb(185, 183, 183);
    }
   .row_foot_2nd{
        padding-top: 25vw;
    }
 
   /* footer row top end */
}

/* @media(max-width: 1025px){
  
} */

@media (max-width: 991px){
      /* 2nd strt */
      .slick_dot{
        display: flex;
        position: absolute;
        left: 50%; transform: translateX(-50%);
        bottom: 23%;
        gap: 5px;
    }
    /* 2nd end */
    .mobil_seacch_btn{
        display: flex;
        gap: 25px;
        margin: 0 !important;
    }  



        /* 3rd section */
        .sec_3rd .row_3d .left_box img{
            width: 30vw;
        }
        .sec_3rd .row_3d .right_box img{
            width: 44vw;
        }
        /* 3rd section end */

       
        /* >5th strrt */
        .test_banner_2nd_slider .slick_dot{
            bottom: 15%;
        }
        /* >5th end */

        /* 6th start */
        .section_6th{
            margin-bottom: 10px;
        }

        .slick_parent_6th{
            padding-top: 50px;
        }
        .slick_dot_6th{
            margin: 0;
        }
      
        /* txt  */
        .text_6th h6{
            font-size: 20px;
        }
        .text_6th h3{
            font-size: 30px;
            font-weight: 700;
            padding: 0;
            margin: 0;
        }
        .text_6th p{
            line-height: 15px;
        }
        .text_6th .span{
            font-size: 20px;
            padding: 0; margin: 0;
        }
        .text_6th a{
            font-size: 16px;
            padding: 0;
        }
        .text_6th .ancor_6th{
            font-size: 16px;
            padding: 10px 20px;
        }
        /* 6th end */


        /* ====7th==== */
        #sec_7th{
            margin: 80px 0;
        }

        .row_7th .left_box h3{
            font-size: 26px;
            font-weight: 600;
            line-height: 36px;
        }
        .row_7th .left_box .txt{
            line-height: 20px;
            padding: 0;
            text-align: justify !important;
            margin-bottom: 30px !important;
        }
        .row_7th .left_box a{
            padding: 10px !important;
            font-size: 15px;
        }
        /* ====7th end==== */
}

@media (max-width: 825px){

        /* 5th sec strt */
        .section_5th{
            margin-bottom: 20vw;
        }  
        
        .section_5th .card_5th{
            max-width: 320px;
        }
    /* 5th sec end */

   
}

@media (max-width: 770px){
           /* 3rd section */
           .sec_3rd .row_3d .left_box img{
            width: 34vw;
        
        }
        .sec_3rd .row_3d .right_box img{
            width: 52vw;
        }
        /* 3rd section end */

        .cnt_6th .hedTxt{
            margin: 10vw;

        }
        /* 6th end */


        /* 7th */
        #sec_7th{
            padding-bottom: 5vw;
        }
        #sec_7th .row_7th{
            display: flex; flex-wrap: wrap;
            justify-content: left;
            align-items: center;
        }
        #sec_7th .left_box{
            width: 93vw;
            padding: 0 0 5vw 0 !important;
        }
        #sec_7th .right_box{
            width: 93vw;
        }

        .row_7th .left_box h3{
            font-size: 26px;
            font-weight: 600;
            line-height: 36px;
        }
        .row_7th .left_box .txt{
            line-height: 20px;
            padding: 0;
        }
        .row_7th .left_box a{
            padding:10px;
            font-size: 15px;
        }
        /* 7th end */
    .row_foot_4th .box{
        padding-right: 15px;
    }
}

@media (max-width: 435px){

    /* news */
    #newsLatterBody .box{
        height: auto;
        width: 500px;
        padding: 10px 10px 20px 10px;
        border-radius: 10px;
    }
    #newsLatterBody h2{
        font-size: 30px;
        margin: 10px 0 0 0 !important;
    }
    #newsLatterBody p{
        padding: 0;
        text-align: justify !important;
        margin: 0 !important;
        font-size: 16px;
        line-height: 25px;
    }

    #newsLatterBody .inp_box{
        height: 40px;
        gap: 0;
    }
    #newsLatterBody .inp_box input{
        width: 75%;
    }
    #newsLatterBody .inp_box button{
        border: 0;
        background: black;
        color: white;
        width: 25%;
        font-weight: 600;
        font-size: 14px;
    }
    /* /news end */

    /* ====HEADING==== */
    .HEADING{
        font-size: 28px !important;
    }
    /* ====HEADING END==== */



    /* nav strt=== */
    .navbar-brand img{
       width: 100px;
    }
    /* nav end== */



    /* 2nd sec strt */

    .test_child_slider .container{
        height: 300px;
    }
 
    /* 2nd end */

    /* 3rd section */
    .sec_3rd .row_3d{
        overflow: hidden;
    }
    .sec_3rd .row_3d .left_box{
        width: 100%;
    }
    .sec_3rd .row_3d .left_box img{
         width: 95vw;
    }
    .sec_3rd .row_3d .left_box h3{
        font-size: 16px;
    }
    .sec_3rd .row_3d .left_box a{
        font-size: 12px;
    }

    .sec_3rd .row_3d .right_box{
        margin-top: 13px;
    }
    .sec_3rd .row_3d .right_box img{
        width: 93.6vw;
    }
    /* 3rd section end */
    .sec_3rd{
        margin: 15vw 0;
    }

    #test_banner h2{
        font-size: 30px;
    }
    #test_banner p{
        font-size: 13px;
    }
    #test_banner .ctn_banner a{
        font-size: 13px;
        padding: 5px 10px;
    }

    .slick_dot{
        bottom: 10%;
    }

    /* ===4th strt=== */
    .sec_4th .arrow_left, .sec_4th .arrow_right{
        display: none;
    }
    /* ===4th end=== */



      /* >5th strrt */
    .test_banner_2nd_slider .h2{
        font-size: 25px;
        font-size: 600;
    }
    .test_banner_2nd_slider .slick_dot{
        bottom: 5%;
    }
    .section_5th span{
        font-size: 12px;
        line-height: 10px;
        height: 30px;
        
        left: 10px;
    }
    .section_5th .icon_5th_sec{
        scale: .7;
        transform: translateY(-40%);
        margin-right: -15px;
    }
    .section_5th .text_box_5th{
        padding-top: 10px;
    }
 
    /* >5th end *    



    /* 5th strt */
    .section_5th .card_5th{
        width: 183px;
    }
    /* 5th end */

 
    /* 6th start */
    .cnt_6th .hedTxt{
        margin: 0 0 15vw 0;
    }

    .timer_6th{
        max-width: 90vw;
        justify-content: center;
    }
    .timer_6th li:first-child{
        margin-left: -3vw;
    }

    .text_6th p{
        line-height: 20px;
    }
    /* 6th end */


    /* 7th */
    #sec_7th .row_7th{
        display: flex; flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #sec_7th .left_box{
        padding-bottom: 10vw;
    }
    /* 7th end */

    /* 8th */
    .slick_parent_8th .slick_dot_8th{
        margin-top: 20px;}

    /* 8th end */

    /* footer strt */
    .row_Foot_top{
        width: 100%;
        display: flex;
        gap: 0;
        position: relative;
    }
    .row_Foot_top .box{
        margin: 0;
      
    }
    .row_Foot_top .box:nth-child(1){
        border: 0;
     
    } .row_Foot_top .box:nth-child(3){
        border: 0;
      
    }.row_Foot_top .box:nth-child(2){
        border: 0;
      
    }.row_Foot_top .box:nth-child(4){
        border: 0;
    }



    .containerFoot{
        padding: 0 15px;
    }
    .row_Foot_top{
        justify-content: left;
        padding-left: 15px;
    }
    .row_foot_2nd{
        
        position: relative;
    }
    .row_foot_2nd .box:nth-child(1){
        margin-bottom: 20px;
    }
    .row_foot_2nd .box:nth-child(2){
        position: absolute;
        top: 40px;
    }
    /* footer end */
}
@media (max-width: 415px){
    .section_5th .card_5th{
        width: 175px;
    }
    /* >5th end */
}


@media (max-width: 394px){

    /* 5th strt */

    .section_5th .card_5th{
        max-width: 40vw !important;
        /* display: none; */
    }

    /* txt */
    .card_5th .text_box_5th{
        padding-top: 3px;
    }
   .card_5th .text_box_5th h3{
        font-size: 16px !important;
        margin: 5px 0;
   }
   .card_5th .text_box_5th p{
        margin-bottom: 5px;
   }
    /* txt end */

    .section_5th .icon_5th_sec{
        scale: .6;
        transform: translateY(-53%);
        margin-right: -15px;
    }
    /* 5th end */

    .row_foot_2nd{
        position: relative;
    }
    .row_foot_2nd .box:nth-child(2){
        top: 35px;
        position: absolute;
    }

    .cnt_6th .hedTxt{
        margin: 10vw;
        /* font-size: 6vw; */
    }



    .text_6th{
        margin: 30px;
     }
     .text_6th h6{
        font-size: 18px;
    }
    .text_6th h3{
        font-size: 23px;
        font-weight: 700;
        padding: 0;
        margin: 0;
    }
    .text_6th p{
        line-height: 15px;
        font-size: 16px;
    }
    .text_6th .span{
        font-size: 18px;
        padding: 0; margin: 0;
    }
    .text_6th a{
        font-size: 14px;
        padding: 0;
    }
    .text_6th .ancor_6th{
        font-size: 14px;
        padding: 10px 20px;
    }
    /* 6th end */
}

@media (max-width: 361px){
    /* >5th */

    /* .section_5th .icon_5th_sec{
        scale: 1;
        transform: translateY(0);
        margin-right: 0;
    } */
 

    /* >5th end */

     /* 6th start */
  

     .timer_6th li span{
       font-size: 20px;
     }
     .timer_6th li h4{
        font-size: 12px;
     }

     .text_6th{
        margin: 30px;
     }
     .text_6th h6{
        font-size: 20px;
    }
    .text_6th h3{
        font-size: 25px;
        font-weight: 700;
        padding: 0;
        margin: 0;
    }
    .text_6th p{
        line-height: 15px;
    }
    .text_6th .span{
        font-size: 20px;
        padding: 0; margin: 0;
    }
    .text_6th a{
        font-size: 16px;
        padding: 0;
    }
    .text_6th .ancor_6th{
        font-size: 16px;
        padding: 10px 20px;
    }
    /* 6th end */


    .row_foot_2nd{
        position: relative;
    }
    .row_foot_2nd .box:nth-child(2){
        top: 25px;
        position: absolute;
    }

    /* footrt last section strt */
    .row .foter_btm_txt{
        font-size: 12px;
    }
    /* footrt last section end */
}

@media (max-width: 345px){

        /* ====HEADING==== */
        .HEADING{
            font-size: 8vw !important;
        }
        /* ====HEADING END==== */


    /* login strt */
    .login_box{
        width: 90%;
    }
    /* login end */
    .row_foot_4th .box .input_box{
        width: 89vw;
    }

/* >5th */
    .section_5th .card_5th{
        width: 40vw;
    }
    /* txt */
    .card_5th .text_box_5th{
        padding-top: 3px;
    }
   .card_5th .text_box_5th h3{
        font-size: 4.5vw !important;
        margin: 5px 0;
   }
   .card_5th .text_box_5th p{
        margin-bottom: 5px;
   }
    /* txt end */
/* >5th end */


/* 6th start */

.timer_6th li span{
    font-size: 20px;
  }
  .timer_6th li h4{
     font-size: 12px;
  }

  .text_6th{
     margin: 30px;
  }
  .text_6th h6{
     font-size: 18px;
 }
 .text_6th h3{
     font-size: 23px;
     font-weight: 700;
     padding: 0;
     margin: 0;
 }
 .text_6th p{
     line-height: 15px;
     font-size: 16px;
 }
 .text_6th .span{
     font-size: 18px;
     padding: 0; margin: 0;
 }
 .text_6th a{
     font-size: 14px;
     padding: 0;
 }
 .text_6th .ancor_6th{
     font-size: 14px;
     padding: 10px 20px;
 }
 /* 6th end */
}