
/* ===========//common responsive design//========== */
@media(max-width: 1200px){/* 1024px*/
    .collapse .navbar-nav li{
        margin: 0 5px !important;
     }
 
     /* nav top */
     #nav_top .custom_row_wraper{
         height: 40px !important;
     }
     #nav_top .custom_row_wraper .left{
         font-size: 14px;
     }
     
     #nav_top .custom_row_wraper .right li{
         font-size: 14px !important;
         padding: 0 5px !important;
     } #nav_top .custom_row_wraper .right li a{
         padding: 0 5px !important;
     }
     /* nav top end*/

      /* ====footer=== */
    #sec_footer{
        margin-top: 10vw !important;
        background-color: #F7F7F7;
    }
    /* top row*/
#sec_footer .foot_row_top{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* left */
#sec_footer .foot_row_top .left{
    width: 45vw !important;
    /* background: aqua; */
}
.foot_row_top .left h2{
    font-size: 3vw !important;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
    margin-bottom: 0;
}
.foot_row_top .left p{
    font-size: 14px !important;
    font-weight: 400;
    line-height: 25px !important;
    text-align: left;
}
/* left end */

/* right */
#sec_footer .foot_row_top .right{
    width: auto !important;
    height: auto !important;
    /* background: aqua; */
    display: flex;
    box-shadow: 0px 0px 10px rgb(212, 212, 212);
}
#sec_footer .foot_row_top .right input{
    width: 32vw !important;
    height: 60px;
}
#sec_footer .foot_row_top .right button{
    width: 10vw !important;
    font-size: 15px !important;
}
/* right end */
/* top row end */


/* mid row */
#sec_footer .mid_row .first{
    width: 200px !important;
}
#sec_footer .mid_row .last{
    width: 200px !important;
}
/* mid row end*/

    /* ====footer end=== */
}

@media(max-width: 991px){
 /* nav top */
 #nav_top .custom_row_wraper{
    height: 30px !important;
}
#nav_top .custom_row_wraper .left{
    font-size: 10px;
}

#nav_top .custom_row_wraper .right li{
    font-size: 10px !important;
    padding: 0 5px !important;
} #nav_top .custom_row_wraper .right li a{
    padding: 0 5px !important;
}
/* nav top end*/

/* nav */
.mobil_seacch_btn{
    margin: 0!important;
    display: flex !important;
    gap: 25px;
    padding: 0 !important;
}
/* nav end */

.mobil_seacch_btn{
    display: flex !important;
    gap: 25px;
}

/* 1st section */
#sec_1st .cuctom_row{
    height: 40vw !important;
}
/* 1st section end*/



/* ====footer=== */
    /* top row*/
    #sec_footer .foot_row_top{
        padding-top: 5vw !important; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    /* left */
    #sec_footer .foot_row_top .left{
        width: 42vw !important;
        /* background: aqua; */
    }
    .foot_row_top .left h2{
        font-size: 3vw !important;
        font-weight: 700;
        line-height: 46px;
        text-align: left;
        margin-bottom: 0;
    }
    .foot_row_top .left p{
        font-size: 14px !important;
        font-weight: 400;
        line-height: 25px !important;
        text-align: left;
    }
    /* left end */
    
    /* right */
    #sec_footer .foot_row_top .right{
        width: auto !important;
        height: auto !important;
        /* background: aqua; */
        display: flex;
        box-shadow: 0px 0px 10px rgb(212, 212, 212);
    }
    #sec_footer .foot_row_top .right input{
        width: 28vw !important;
        height: 50px !important;
    }
    #sec_footer .foot_row_top .right button{
        width: 10vw !important;
        height: 50px !important;
        font-size: 15px !important;
    }
    /* right end */
    
    /* top row end */
    
    /* mid row */
    #sec_footer .box{
        padding-right: 10px !important;
    }
    
    #sec_footer .mid_row .box h3{
        margin-bottom: 10px !important;
    }
    #sec_footer .box .p{
        line-height: 20px !important;
    }
    #sec_footer .box p{
        font-size: 10px !important;
        margin-bottom: 0 !important;
    }
    #sec_footer .mid_row .first{
        width: 150px !important;
    }
    #sec_footer .mid_row .last{
        width: 150px !important;
    }
    /* mid row end*/
    
    /* ====footer end=== */
}

@media(max-width: 770px){
/* ===footer */

    /* right */
    #sec_footer .foot_row_top .right button{
        width: 12vw !important;
        height: 50px !important;
         font-size: 15px !important;
    }
    /* right end */

 /* footre end */
}

@media(max-width: 600px){
/* ====footer=== */
    /* top row*/
    #sec_footer .foot_row_top{
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    /* left */
    #sec_footer .foot_row_top .left{
        width: 100% !important;
        /* background: aqua; */
    }
    .foot_row_top .left h2{
        font-size: 5vw !important;
        font-weight: 700;
        line-height: 40px;
        text-align: left;
        margin-bottom: 0;
    }
    .foot_row_top .left p{
        font-size: 14px !important;
        font-weight: 400;
        line-height: 20px !important;
        text-align: justify !important;
    }
    /* left end */
    
    /* right */
    #sec_footer .foot_row_top .right{
        width: 100% !important;
        height: auto !important;
        /* background: aqua; */
        display: flex;
        box-shadow: 0px 0px 10px rgb(212, 212, 212);
    }
    #sec_footer .foot_row_top .right input{
        width: 78% !important;
        height: 50px !important;
    }.foot_row_top .right input::placeholder{
        font-size: 4vw !important;
    }
    #sec_footer .foot_row_top .right button{
        width: 22% !important;
        height: 50px !important;
        font-size: 4vw !important;
    }
    /* right end */
    /* top row end */
    
    /* mid row */
    #sec_footer .mid_row{
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
        gap: 10px !important;
    }
    #sec_footer .mid_row .first{
        width: 100% !important;
        padding: 0 !important;
    }
    #sec_footer .mid_row .first .p{
        margin-bottom: 10px !important;
    }
    #sec_footer .mid_row .last{
        width: 100% !important;
    }
    /* mid row end */
        /* ====footer end=== */
}

@media(max-width: 440px){
  /* nav top */
  #nav_top .custom_row_wraper{
    height: 80px !important;
    justify-content: center !important;
    padding: 5px 0;
}
#nav_top .custom_row_wraper .left{
    font-size: 3vw;
}

#nav_top .custom_row_wraper .right li{
    font-size: 3vw !important;
    padding: 0 5px !important;
} #nav_top .custom_row_wraper .right li a{
    padding: 0 5px !important;
}
/* nav top end*/

/* nav */
.navbar{
    padding: 0 !important;
}
/* nav end*/


.mobil_seacch_btn{
    display: flex !important;
    gap: 25px;
    padding: 0 !important;
}
   /* nav top end*/

.search_box input.input_active{
    width: 80vw;
}

/* 1st section */
#sec_1st .cuctom_row{
    height: 60vw !important;
}

 #sec_1st .cuctom_row h1{
    font-size: 10vw !important;
    margin: 0 !important;
}#sec_1st .cuctom_row p{
    font-size: 4vw !important;
    margin: 0 !important;
}
/* 1st section end*/

/* search */
.search_box_child button{
    width: 15vw !important;
    font-size: 20px !important;
}
/* search end */

/* ====HEADING==== */
    .HEADING{
     font-size: 28px !important;
    }
    /* ====HEADING END==== */

     /* ===footer=== */
     #sec_footer .mid_row .first p{
        font-size: 14px !important;
    }
    #sec_footer .row_foot_foot{
        height: 90px !important;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
    }
    #sec_footer .row_foot_foot p{
        text-align: justify !important;
    }
    /* ===footer end */
}

@media(max-width: 395px){
 /* ===footer=== */
    /* right */
    #sec_footer .foot_row_top .right input{
        width: 75% !important;
        height: 40px !important;
    }.foot_row_top .right input::placeholder{
        font-size: 4vw !important;
    }
    #sec_footer .foot_row_top .right button{
        width: 25% !important;
        height: 40px !important;
        font-size: 4vw !important;
    }
    /* right end */

    /* mid row */
#sec_footer .mid_row{
    gap: 0 !important;
}
#sec_footer .mid_row .first{
    padding-bottom: 10px !important;
}
#sec_footer .mid_row .box h3{
    font-size: 20px !important;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    margin-bottom: 0 !important;
}
#sec_footer .mid_row .last{
    padding-top: 10px !important;
}
/* mid end */
    /* ===footer end=== */
}

@media(max-width: 345px){
    /* nav top */
    #nav_top .custom_row_wraper{
       height: 70px !important;
   }
   #nav_top .custom_row_wraper .left{
       font-size: 10px;
   }
   
   #nav_top .custom_row_wraper .right li{
       font-size: 10px !important;
       padding: 0 5px !important;
   } #nav_top .custom_row_wraper .right li a{
       padding: 0 5px !important;
   }
   /* nav top end*/

   /* ===footer=== */
     /* mid row */
     #sec_footer .mid_row{
        gap: 0 !important;
}
    #sec_footer .mid_row .first{
        padding-bottom: 10px !important;
}
    #sec_footer .mid_row .box h3{
        font-size: 15px !important;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
        margin-bottom: 0 !important;
}
#sec_footer .mid_row .box p{
    font-size: 10px !important;
}
#sec_footer .mid_row .last{
        padding-top: 10px !important;
}
    /* mid end */

        /* ===footer=== */
        #sec_footer .mid_row .first p{
            font-size: 14px !important;
        }
        #sec_footer .row_foot_foot p{
           font-size: 4vw !important;
        }
        /* ===footer end */

/* ===footer end */
}
/* ===========//common responsive design END//========== */




@media(max-width: 1200px){
/* 5th sec strt */
#shop_section{
    margin-bottom: 15vw!important;
}
#shop_section .row_5th .card_5th{
    max-width: 200px!important;
}
/* 5th sec end */
}

@media(max-width: 991px){

}


@media (max-width: 825px){

    /* 5th sec strt */
    #shop_section{
        margin-bottom: 20vw!important;
    }  
    
    #shop_section .card_5th{
        max-width: 320px!important;
    }
/* 5th sec end */


}

@media(max-width: 770px){

}

@media(max-width: 600px){
    #shop_section .row_shop_top{
        margin-bottom: 3vw !important;
        flex-wrap: wrap !important;
        gap: 10px;
    }
    #shop_section .row_shop_top .wraper{
        width: 100% !important;
        justify-content: space-between;
    }
    #shop_section .row_shop_top select{
        width: 100% !important;
    }
}

@media(max-width: 435px){
       /* 5th strt */
       #shop_section .card_5th{
        width: 183px !important;
    }
    #shop_section .card_5th h3 p{
        height: 30px;
    }
    #shop_section .card_5th .text_box_5th{
        padding-top: 10px!important;
    }
    /* 5th end */


    #shop_section .row_btm{
        text-align: center;
        margin: 4vw 0 !important;
    }
}

@media (max-width: 415px){
    #shop_section .card_5th{
        width: 175px!important;
    }
    /* >5th end */
}

@media(max-width: 394px){
 /* 5th strt */

 #shop_section .card_5th {
    width: 40vw !important;
    /* display: none; */
}

/* txt */
.card_5th .text_box_5th{
    padding-top: 3px!important;
}
.card_5th .text_box_5th h3{
    font-size: 16px !important;
    margin: 5px 0!important;
}
.card_5th .text_box_5th p{
    margin-bottom: 5px!important;
    height: 18px !important;
}
/* txt end */

#shop_section .icon_5th_sec{
    scale: .6!important;
    transform: translateY(-53%)!important;
    margin-right: -15px!important;
}
/* 5th end */
}

@media(max-width: 345px){
/* >5th */
#shop_section .card_5th{
    width: 40vw !important;
}
/* txt */
.card_5th .text_box_5th{
    padding-top: 3px !important;
}
.card_5th .text_box_5th h3{
    font-size: 4.5vw !important;
    margin: 5px 0 !important;
}
.card_5th .text_box_5th p{
    margin-bottom: 5px !important;
    height: 20px !important;
}
/* txt end */
/* >5th end */
}